@model Vidly_app.ViewModels.CustomersViewModel
@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.Customers.Count == 0)
{
    <p> Sorry There are no Customers available </p>
}
<h2>Customers</h2>
<ul>
    @foreach (var customer in Model.Customers)
    {
        <li> @customer.Name </li>
    }
</ul>

